$fonte: 'Epilogue', sans-serif;
$primary: hsl(0, 0%, 98%);
$secondary: hsl(0, 0%, 41%);
$terciary: hsl(0, 0%, 8%);

body {
    font-family: $fonte;
    min-height: 100vh;
    background-color: $primary;

    .h1{
        line-height: 1;
        font-size: 4.5rem;
        color: $terciary;
        font-weight: 700;
    }
}

*{
    color: $secondary;
}

.navbar-toggler{
    border: none;
}
.iconeDropd{
    width: 14px;
    height: 16px;
}

.dropdown-menu{
    background-color: white;
    min-width: 100%;

    .dropdown-item{
        color: $secondary;
    }
}

.dropdown-toggle::after {
    display: none !important;
}

.bi{
    font-size: 12px;
    font-weight: 700;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    font-weight: bold !important;
}

.imageHeroDesktop{
        height: 500px;
}
.imageHeroMobile{
    width: 100%;
}
.p{
    font-size: 16px;
    text-align: justify;
}

.btn{
    background-color: $terciary;
    font-size: 16px;
}

.icones{
    width: 5rem;
}

.btn.btn-dark {
    transition: all .3s ease;
  }

  .btn.btn-dark:hover {
    background-color: transparent;
    color: $terciary;
  }

@media screen and (max-width: 992px) {
    .dropdown-menu{
        box-shadow: none!important;
    }
    .p{
        text-align: center;
    }
    body{
        background-color: white;
        .h1{
            font-size: 2.1rem;
        }
    }
    .icones{
        width: 3.8rem;
    }
}